<div class="page">
  <mat-card class="page__card" appearance="outlined">
    <div class="page__header">
      <h1>Employee registration</h1>
      <p>Fill in the details to create a new employee.</p>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="guardarEmployee()" class="form-grid">

      <mat-form-field appearance="outline" class="form-grid__field">
        <mat-label>ID</mat-label>
        <input matInput formControlName="nationalId" maxlength="20" />
        @if (esCampoValido('nationalId')) {
          <mat-error>{{ getErrorMessageId('nationalId') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-grid__field">
        <mat-label>First name</mat-label>
        <input matInput formControlName="nombre" />
        @if (nombreNoValido) {
          <mat-error>First name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-grid__field">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="apellidoUno" />
        @if (apellido1NoValido) {
          <mat-error>Last name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-grid__field">
        <mat-label>Second last name</mat-label>
        <input matInput formControlName="apellidoDos" />
        @if (apellido2NoValido) {
          <mat-error>Second last name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-grid__field">
        <mat-label>Phone number</mat-label>
        <input matInput type="tel" formControlName="phone" maxlength="8" />
        @if (phoneNoValido) {
          <mat-error>Must be at least 8 digits, no spaces or dashes</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-grid__field">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="correo" />
        @if (correoNoValido) {
          <mat-error>Enter a valid email address</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-grid__field">
        <mat-label>Password</mat-label>
        <input matInput #input1 type="password" formControlName="passwordUno" maxlength="16" />
        <button mat-icon-button matSuffix type="button" (click)="showPassword(input1)">
          <mat-icon>visibility</mat-icon>
        </button>
        @if (esCampoValido('passwordUno')) {
          <mat-error>{{ getErrorMessage('passwordUno') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-grid__field">
        <mat-label>Confirm password</mat-label>
        <input matInput #input2 type="password" formControlName="passwordDos" maxlength="16" />
        <button mat-icon-button matSuffix type="button" (click)="showPassword(input2)">
          <mat-icon>visibility</mat-icon>
        </button>
        @if (password2NoValido && password2NoValid) {
          <mat-error>Passwords do not match</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-grid__field">
        <mat-label>Role</mat-label>
        <mat-select [(ngModel)]="selectedRol.name" formControlName="rol" (selectionChange)="onSelected(selectedRol.name)">
          @for (tipo of roleList; track tipo) {
            <mat-option [value]="tipo.name">{{ tipo.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      @for (rol of roleList; track rol) {
        @if (rol.name == 'Site Manager' && areasList2!.length > 0) {
          <mat-form-field appearance="outline" class="form-grid__field">
            <mat-label>Region</mat-label>
            <mat-select [(ngModel)]="selectedArea.name" formControlName="areaSilvestre" (selectionChange)="getParques()">
              @for (tipo of areasList; track tipo) {
                <mat-option [value]="tipo.name">{{ tipo.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="form-grid__field">
            <mat-label>Site</mat-label>
            <mat-select [(ngModel)]="selectedParque.name" formControlName="site">
              @for (tipo of parqueList; track tipo) {
                <mat-option [value]="tipo.name">{{ tipo.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        @if (rol.name == 'Supervisor' && departmentList2!.length > 0) {
          <mat-form-field appearance="outline" class="form-grid__field">
            <mat-label>Department</mat-label>
            <mat-select [(ngModel)]="selectedDepartment.pk_IdDepartment" formControlName="department">
              @for (tipo of departmentList; track tipo) {
                <mat-option [value]="tipo.name">{{ tipo.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
      }

      <div class="form-grid__actions">
        <button type="submit" mat-flat-button color="primary">
          <mat-icon>person_add</mat-icon>
          Register
        </button>
      </div>
    </form>
  </mat-card>
</div>
